@import '../../../fonts/inter.css';

.business-black,
.business-white {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1116px;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CECE1B;
    border: 3px solid #030518;
    border-radius: 15px;
    color: #110726;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    cursor: grab;
    transition: all .25s linear;
}

.business-white {
    background-color: white;

}

@keyframes business-enter {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    75% {
        opacity: .66;
        transform: translateX(75px);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes business-exit {
    0% {
        opacity: 1;
        transform: translateX(0);
        height: 36px;
    }

    100% {
        opacity: 0;
        transform: translateX(-400px);
    }
}

.business-enter {
    animation: business-enter 500ms ease-out;
}

.business-exit {
    animation: business-exit 250ms ease-out
}

.business__delite {
    margin-right: 20px;
    width: 32px;
}

.business__delite_animation {
    margin-right: 20px;
    width: 32px;
}

.business__delite:hover,
.business__delite_animation:hover {
    cursor: pointer;
}