@import '../../../fonts/inter.css';

.business {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1116px;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CECE1B;
    border: 3px solid #030518;
    border-radius: 15px;
    color: #110726;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    cursor: grab;
    transition: all .2s linear;
}

.business-exit {
    opacity: 0;
}


.business__delite {
    margin-right: 20px;
    width: 32px;
}

.business__delite_animation {
    margin-right: 20px;
    width: 32px;
}


.business__delite:hover,
.business__delite_animation:hover {
    cursor: pointer;
}