@import "./fonts/inter.css";

@keyframes zxc {
  from {
    /* rotate: -50deg; */
  }

  to {
    rotate: 180deg;
  }
}

.App {
  text-align: center;
  margin-top: 25px;
  color: white;
  /* background-color: #110726; */
}

.ToDo__title {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  color: #C5BE19;
  margin-bottom: 25px;
  margin-top: 50px;
}

.Todo__totle_o {
  width: 15px;
  color: #19C572;
}

.Todo__totle_list {
  margin-top: 24px;
  margin-left: 15px;
}

.asd {
  display: flex;
  rotate: -180deg;
  animation: zxc 19s infinite linear 4s;

}

.Todo__container-black,
.Todo__container-white {
  background-color: #EEF099;
  width: 688px;
  height: 48px;
  margin: 0 auto 0 auto;
  border-radius: 15px;
  margin-top: 45px;
}

.Todo__container-white {
  background-color: white;
}

.ToDo__container-input-black,
.ToDo__container-input-white {
  background-color: #EEF099;
  margin: 6px 0 6px 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  padding: 0;
  height: 36px;
  width: 501px;
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;
}

.ToDo__container-input-white {
  background-color: white;
}

.ToDo__container-button {
  background-color: #19C572;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  border: none;
  height: 48px;
  padding: 6px 0 6px 0;
  width: 162px;
  margin-left: 9px;
  border-radius: 0 15px 15px 0;
  color: #110726;
}

.ToDo__container-button:hover {
  cursor: pointer;
}

@keyframes testback {
  0% {
    height: 0;
    font-size: 0;
    border: none;
  }

  100% {
    height: 45px;
    font-size: 44px;
    /* border: 1px solid yellowgreen; */
  }
}

@keyframes test {
  0% {
    height: 45px;
    font-size: 44px;
    /* border: 1px solid yellowgreen; */
  }

  100% {
    height: 0;
    font-size: 0;
    border: none;
    /* margin-top: 15px; */
  }
}

.test_anima {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto 0 auto;
  margin-top: 25px;
  font-size: 45px;
  border: 1px solid yellowgreen;
  border-radius: 8px;
  width: 455px;
  height: 45px;
  /* animation: testback 1s linear; */

}

.test_anima.entering {
  animation: test 1s linear;
}

.test_anima.entered {}

.test_anima.exiting {
  animation: testback 1s linear;

}

.test_anima.exited {}

.test_anima_go {
  animation: test 1s linear;
  height: 0;
  font-size: 0;
  border: none;
}

.test_anima__text {
  margin-left: 15px;
}

.test_anima__button {

  width: 25px;
  height: 25px;

}